@using Shared.Models;
@using Shared.Models.Dtos.Journeys
@using Shared.Models.enums

<div class="journey-card">
    <div class="date">@Journey.StartAt.ToLocalTime().ToString("dddd dd-MM-yyyy")</div>
    <div class="time">@Journey.StartAt.ToLocalTime().ToString("HH:mm")</div>

    <div class="locations">
        @if (Journey.Start is not null && Journey.End is not null)
        {
            <span>Van <strong>@FormatPlace(Journey.Start)</strong></span>
            <span>Naar <strong>@FormatPlace(Journey.End)</strong></span>
        }
        else
        {
            <span><em>Locaties niet beschikbaar</em></span>
        }
    </div>

    <div class="owner">
        @if (Journey.FinishedAt is null)
        {
            <span>Eigenaar: </span>

            @if (Journey.OwnerId == CurrentUserId)
            {
                <strong>Jij</strong>
            }
            else
            {
                <strong>@Journey.OwnerName</strong>
            }
        }
        else
        {
            <span class="journey-finished-label"><strong>Reis is afgerond</strong></span>
        }
    </div>

    <div class="buddies">
        <span>Reisbuddies:</span>
        @foreach (var buddy in Journey.Participants.Where(p => p.UserId != CurrentUserId && p.Status == RequestStatus.Accepted))
        {
            <span class="buddy">@buddy.UserName</span>
        }
    </div>

    @if (JourneyCardButtons is not null)
    {
        <div class="card-actions">
            @JourneyCardButtons
        </div>
    }
</div>

@code {
    [Parameter] public JourneyDto Journey { get; set; } = default!;
    [Parameter] public int CurrentUserId { get; set; }
    [Parameter] public RenderFragment? JourneyCardButtons { get; set; }

    private string FormatPlace(PlaceDto place)
    {
        if (place.District == null)
            return place.City;
        return $"{place.City}, {place.District}";
    }
}
